@import "tailwindcss";

@theme {
    --font-hanken-grotesk : "hanken grotesk";
    --font-eb-garamond: "eb garamond";
    --color-primary-green: #4A5D23;
    --color-secondary-white: #F9F7F2;
    --color-third-gray: #E8E4D8;
    --color-fourth-black: #1A1A1A;
    --color-background-fill: #FCF9F8;
    --color-hero-filling: #1C1B1B;

}

.hanken-grotesk {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

h1 {
    @apply font-eb-garamond;
}

.hero_heading {
    @apply absolute font-bold text-white text-5xl
           max-[985px]:text-4xl
           max-[750px]:text-3xl
           max-[620px]:text-2xl
           max-[530px]:text-xl
           max-[440px]:text-lg
           max-[370px]:text-base;
}



