@import "tailwindcss";

@theme {
    --font-hanken-grotesk : "hanken grotesk";
    --font-eb-garamond: "eb garamond";
    --color-primary-green: #4A5D23;
    --color-secondary-white: #F9F7F2;
    --color-third-gray: #E8E4D8;
    --color-fourth-black: #1A1A1A;
    --color-background-fill: #FCF9F8;
    --color-hero-filling: #1C1B1B;
    --color-price:#45483C;
    --color-cartButton: #F0EDED;

}

.hanken-grotesk {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}


.hero_heading {
    @apply absolute font-bold text-white text-5xl
           max-[985px]:text-4xl
           max-[750px]:text-3xl
           max-[620px]:text-2xl
           max-[530px]:text-xl
           max-[440px]:text-lg
           max-[370px]:text-base;
}

.container {
    @apply mx-auto;
}

.row {
    @apply flex;
    @apply items-center;
}

@layer base {

h1 {
 @apply font-eb-garamond;
 @apply font-normal;
 @apply text-base;
 @apply text-fourth-black;
}

h2 {
    @apply font-eb-garamond
    @apply font-bold;
    @apply text-base;
    @apply text-fourth-black;
}

h3 {
    @apply font-eb-garamond
    @apply font-normal;
    @apply text-base;
    @apply text-fourth-black;
}
}

.favorites img {
    @apply pb-6;
    @apply rounded-xl;
}

.price {
    @apply font-hanken-grotesk
    font-normal
    text-base
    text-price
    ml-auto;
}

button {
    @apply cursor-pointer;
    @apply flex justify-center items-center;
    @apply bg-cartButton;
    @apply font-hanken-grotesk;
    @apply font-normal;
    @apply text-base;
    @apply text-hero-filling;
    @apply w-55.5 h-12;
    @apply tracking-[0.8px];
    @apply mx-auto;
    @apply rounded-xs;
}




