@import "tailwindcss";

@theme {
    --font-hanken-grotesk:"hanken grotesk";
    --font-eb-garamond:"eb garamond";
    --font-shadows:"Shadows Into Light";
    --color-primary-green: #4A5D23;
    --color-secondary-white: #F9F7F2;
    --color-third-gray: #E8E4D8;
    --color-fourth-black: #1A1A1A;
    --color-background-fill: #FCF9F8;
    --color-hero-filling: #1C1B1B;
    --color-price:#45483C;
    --color-cartButton: #F0EDED;
    --color-image-background:#33450D;
    --color-special-background:#F6F3F2; 
    --color-line:#BED58E;

}

.hanken-grotesk {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}


.hero_heading {
    @apply absolute font-bold text-white text-5xl
           max-[985px]:text-4xl
           max-[750px]:text-3xl
           max-[620px]:text-2xl
           max-[530px]:text-xl
           max-[440px]:text-lg
           max-[370px]:text-base;
}

.container {
    @apply mx-auto;
}

.row {
    @apply flex;
    @apply items-center;
}

@layer base {

h1 {
 @apply font-eb-garamond;
 @apply font-bold;
 @apply text-4xl;
 @apply text-fourth-black;
}

h2 {
    @apply font-eb-garamond;
    @apply font-bold;
    @apply text-base;
    @apply text-fourth-black;
}

h3 {
    @apply font-eb-garamond;
    @apply font-normal;
    @apply text-base;
    @apply text-fourth-black;
}
}

.favorites img {
    @apply pb-6;
    @apply rounded-xl;
}

.price {
    @apply font-hanken-grotesk
    font-normal
    text-base
    text-price
    ml-auto;
}

button {
    @apply cursor-pointer;
    @apply flex justify-center items-center;
    @apply bg-cartButton;
    @apply font-hanken-grotesk;
    @apply font-normal;
    @apply text-base;
    @apply text-hero-filling;
    @apply w-55.5 h-12;
    @apply tracking-[0.8px];
    @apply mx-auto;
    @apply rounded-xs;
}

.tag_position {
   @apply absolute top-4 left-4;
}

.tag_details {
  @apply font-hanken-grotesk
   font-normal
   text-base
   text-fourth-black
   tracking-[0.8px]
   rounded-xl
   px-3 py-1
   bg-background-fill;
}

.cards_display {
    @apply grid grid-cols-4  
    max-[1025px]:grid-cols-3 gap-8
    max-[770px]:grid-cols-2 
    max-[590px]:grid-cols-1;

    .add_to_cart button {
        @apply max-[1025px]:w-50;
        @apply max-[1025px]:h-10; 
        @apply max-[1025px]:text-sm;}

    .fav_name h3 {
        @apply max-[1025px]:text-sm;}

    .price p {
        @apply max-[1025px]:text-sm;}
}

.special_header p {
    @apply font-hanken-grotesk text-base font-normal text-primary-green tracking-[3.2px];
}

.special_name h2 {
    @apply font-eb-garamond font-bold text-base;
}

.special_description_det {
    @apply pt-8 w-lg h-19.5;
}

.special_description p {
    @apply font-hanken-grotesk text-price;
}

.order_now_details {
    @apply mt-8 w-42.75 h-16 pt-8;}

.order_now button {
    @apply bg-primary-green text-amber-50 tracking-[1.6px];
}

.photo::before {
    content: "";
    @apply absolute
    w-123 h-112
    top-8 left-8
    rounded-xl
    bg-image-background/10
    blur-3xl
    -z-10;
}

.photo::after {
    content: "";
    @apply absolute inset-0 bg-white/20;
    @apply w-[300px] h-[300px]; 
    @apply left-20 top-0;
    @apply rounded-2xl;
    @apply -z-10;
}

.photo img {
    @apply relative z-10
           rounded-2xl
           shadow-[0_20px_25px_-5px_rgba(0,0,0,0.10),0_8px_10px_-6px_rgba(0,0,0,0.10)];
}

.floating_tag_details {
    @apply absolute right-full bottom-10 w-[112px] h-[112px];
    @apply bg-background-fill rounded-xl text-primary-green flex items-center justify-center pb-[4px] flex-col;
    @apply shadow-[0_20px_25px_-5px_rgba(0,0,0,0.10),0_8px_10px_-6px_rgba(0,0,0,0.10)];
    
}

.footer_details {
    @apply pt-[120px] bg-primary-green;
}

.informations p {
    @apply font-hanken-grotesk text-white items-start;
}

.copyrights p {
    @apply flex justify-center opacity-[50%] text-white pb-[32px];
    @apply max-[620px]:text-sm;

}

.info_details {
    @apply flex justify-between gap-[32px];
    @apply max-[770px]:text-sm;
    @apply max-[620px]:text-xs;
    @apply max-[560px]:gap-[20px];

    
}

.logo_responsive {
    @apply max-[560px]:w-[55px] h-[55px];
}

/*Start of Fresh Bread Page*/
.Bread_intro h1 {
    @apply font-eb-garamond 
    text-primary-green
    pb-6
    font-bold
    text-2xl
    tracking-[1px];
}

.Bread_intro p {
    @apply w-[565.25px] h-12
    font-hanken-grotesk
    text-price;
}

.sort button {
    @apply w-12 h-12 p-0 bg-white;
    
}

.Bread_intro_details {
    @apply pt-32 pb-30;
  
}

.bread_cards_display {
    @apply grid grid-cols-3 gap-6
    max-[1025px]:grid-cols-2
    max-[770px]:grid-cols-1;
    @apply px-16;
}

.card img {
    @apply rounded-lg;
    @apply shadow-[0_1px_2px_0_rgba(0,0,0,0.5)];
}

.bread_description p {
    @apply text-price w-88 h-12 flex mx-auto;
    @apply max-[1025px]:text-sm w-85 h-10;
}
/*End of Fresh Bread Page*/

/*Start of Pastries Page*/
.pastries_description_det {
    @apply text-center justify-center items-center flex-col pt-17.5;
}

.pastries_heading h2 {
    @apply pb-6 
    text-primary-green
    tracking-[1.6px]
    font-bold
    text-lg;
}

.pastries_brief p {
    @apply px-[293.47px]
    text-price;
    @apply max-[980px]:text-sm max-[980px]:px-70
           max-[895px]:text-sm max-[895px]:px-62.5
           max-[835px]:text-sm max-[835px]:px-57.5
           max-[770px]:text-xs max-[770px]:px-52.5
           max-[710px]:text-xs max-[710px]:px-42.5
           max-[625px]:text-xs max-[625px]:px-37.5
           max-[530px]:text-xs max-[530px]:px-25;
}

.pastry_motivation p {
    @apply pt-4
    text-primary-green
    font-shadows
    font-medium;
}

.pastries_cards_display {
    @apply grid grid-cols-3 gap-6
    max-[1025px]:grid-cols-2
    max-[770px]:grid-cols-1;
    @apply px-16;
}
/*Start of Pastries Page*/

/*Start of Cookies Page*/
.cookies_description_det {
    @apply text-center justify-center items-center flex-col pt-16;
}

.cookies_heading h2 {
    @apply pb-6 
    text-primary-green
    tracking-[1.6px]
    font-bold
    text-lg;
}

.cookies_brief p {
    @apply px-[293.47px]
    text-price;
    @apply max-[980px]:text-sm max-[980px]:px-70
           max-[895px]:text-sm max-[895px]:px-62.5
           max-[805px]:text-sm max-[805px]:px-52.5
           max-[770px]:text-xs max-[770px]:px-50
           max-[710px]:text-xs max-[710px]:px-42.5
           max-[645px]:text-xs max-[645px]:px-37.5
           max-[590px]:text-xs max-[590px]:px-27.5
           max-[530px]:text-xs max-[530px]:px-25;
}

.cookies_motivation p {
    @apply pt-4 
    text-primary-green
    font-shadows
    font-medium;
}

.cookies_cards_display {
    @apply grid grid-cols-3 gap-6
    max-[1025px]:grid-cols-2
    max-[770px]:grid-cols-1;
    @apply px-16;
}

.build_box img {
    @apply rounded-lg
    shadow-[0_1px_2px_0_rgba(0,0,0,0.5)];
}

.build_your_box_det {
    @apply absolute z-10 flex flex-col 
    w-[510.2px] h-66
    p-12 top-4.5 left-0;
    
    @apply max-[1025px]:top-0;
    @apply max-[770px]:top-0;
    
}

.build_your_box h2 {
    @apply w-[417.2px] h-6
    text-primary-green
    font-shadows tracking-[1.2px]
    text-2xl;

    @apply max-[1025px]:text-xl 
           max-[1025px]:h-4;

    @apply max-[770px]:text-lg 
           max-[770px]:h-3;  
           
    @apply max-[625px]:text-sm
           max-[625px]:h-2;        
}

.box_description {
    @apply w-[414.2px] h-16
     text-price
     pt-4 pb-4;
     
     @apply max-[1025px]:text-sm 
            max-[1025px]:pb-3 
            max-[1025px]:h-10;

    @apply  max-[770px]:text-sm 
            max-[770px]:pb-3 
            max-[770px]:h-10;  
            
    @apply  max-[625px]:text-xs 
            max-[625px]:pb-3 
            max-[625px]:h-10;        
}

.build_your_box button {
    @apply absolute bg-primary-green 
    mt-4 mb-12 
    w-[219.64px] h-12
    px-8 py-3
    shadow-[0_1px_2px_0_rgba(0,0,0,0.5)]
    rounded-xl
    left-12 top-42;

    @apply max-[1025px]:top-30
           max-[1025px]:w-42.5
           max-[1025px]:h-9;

    @apply max-[770px]:top-27.5
           max-[770px]:w-37.5
           max-[770px]:h-8; 
           
    @apply max-[625px]:top-25
           max-[625px]:w-37.5
           max-[625px]:h-7;       
}

.build_your_box button p {
    @apply 
    font-eb-garamond
    text-white
    w-[155.64px] h-6
    flex items-center justify-center
    text-sm;

    @apply max-[1025px]:w-36.25 
           max-[1025px]:h-6 
           max-[1025px]:text-xs;

     @apply max-[625px]:w-36.25 
            max-[625px]:h-6 
            max-[625px]:text-[10px];       
}
/*End of Cookies Page*/

/*Start of Cakes Page*/
.Cakes_intro h1 {
    @apply font-eb-garamond 
    text-primary-green
    pb-6
    font-bold
    text-2xl
    tracking-[1px];
}

.Cakes_intro p {
    @apply w-[565.25px] h-12
    font-hanken-grotesk
    text-price;
}

.Cakes_intro_details {
    @apply pt-32 pb-30;
  
}

.cakes_motivation p {
    @apply pt-4 
    text-primary-green
    font-shadows
    font-medium;
}

.cakes_cards_display {
    @apply grid grid-cols-3 gap-6
    max-[1025px]:grid-cols-2
    max-[770px]:grid-cols-1;
    @apply px-16;
}

.Custom_description_det {
  @apply flex mx-auto justify-center items-center flex-col
         w-2xl h-30;
  @apply max-[710px]:w-xl
         max-[660px]:w-lg; 
}

.position {
    @apply flex justify-center gap-18 max-[660px]:gap-14;
}

.padding {
    @apply pl-16 max-[660px]:pl-12;
}

.Custom_description h2 {
    @apply text-3xl;
    @apply max-[710px]:text-2xl
           max-[660px]:text-xl;
}

.Custom_description p {
    @apply pt-4 text-center text-base;
    @apply max-[710px]:text-sm
           max-[660px]:text-xs;
}

.custom_motivation {
    @apply pt-2 
    text-primary-green
    font-shadows
    font-medium
    tracking-[1.2px];
}

.events_details {
    @apply bg-special-background  
             p-8 mt-4
             rounded-xl
             w-120 h-44.5;
           
    @apply max-[1025px]:h-35 max-[1025px]:w-95
           max-[770px]:h-30 max-[770px]:w-85 
           max-[710px]:h-30 max-[710px]:w-75
           max-[660px]:h-27 max-[660px]:w-70;   
}

.event_picture img {
    @apply shadow-[0_1px_2px_0_rgba(0,0,0,0.5)] rounded-xl;
}

.event_picture button {
    @apply mt-4
    bg-primary-green
    text-white
    rounded-xl
    font-eb-garamond
    shadow-[0_1px_2px_0_rgba(0,0,0,0.5)];
}

.events p {
    @apply pt-4;
    @apply max-[1025px]:text-sm
           max-[770px]:text-xs
           max-[710px]:pt-2
           max-[660px]:pt-1;
}

.events h2 {
    @apply text-lg;
    @apply max-[1025px]:text-base
           max-[660px]:text-sm;
}
/*End of Cakes Page*/

/*Start of Porduct Page*/
.discover_details {
    @apply  mt-25 flex justify-center mb-25;
}

.discover h2 {
    @apply font-shadows
           text-primary-green
           tracking-[1.2px]
           font-medium
           text-xl;
}

.product_picture img {
    @apply rounded-lg
           shadow-[0_20px_25px_-5px_rgba(82,101,42,0.05)]
           shadow-[0_8px_10px_-6px_rgba(82,101,42,0.05)];
}

.product_picture button {
    @apply mt-8
    bg-primary-green
    text-white
    rounded-xl
    font-hanken-grotesk
    shadow-[0_1px_2px_0_rgba(0,0,0,0.5)]
    absolute !w-92 !h-12 flex gap-2
    tracking-[1.6px];
}

.product_picture {
    @apply max-[1025px]:mb-12;
}

.product_discription_details {
    @apply flex flex-col items-start text-left;
}

.name_and_price_det {
    @apply w-153.5 h-30;
}

.name_and_price h1 {
    @apply pb-4;
}

.name_and_price p {
    @apply text-black
            font-eb-garamond
            text-lg
            font-bold
            pb-12;
}

.product_explain p {
   @apply text-price;

}

.process_details {
    @apply flex flex-col gap-1;
}

.process_details h3 {
    @apply font-hanken-grotesk
           tracking-[1.6px]
           text-black
           font-medium;
}

.process_details p {
    @apply text-price;
}

.ingredients_details {
    @apply flex flex-col gap-1;
}

.ingredients_details h3 {
    @apply font-hanken-grotesk
           tracking-[1.6px]
           text-black
           font-medium;
}

.ingredients_details p {
    @apply text-price;
}

.allergens_details {
    @apply flex flex-col gap-1;
}

.allergens_details h3 {
    @apply font-hanken-grotesk
           tracking-[1.6px]
           text-black
           font-medium;
}

.allergens_details p {
    @apply text-price;
}

.card_responsive {
    @apply flex gap-16 items-start;
    @apply max-[1025px]:flex-col
           max-[1025px]:items-center;
}
/*End of Porduct Page*/

/*Start of Account Page*/
.account_details {
    @apply flex justify-center 
           my-16 mx-88
           bg-white
           rounded-lg
           shadow-[0_8px_10px_-6px_rgba(0,0,0,0.10)]
           shadow-[0_20px_25px_-5px_rgba(0,0,0,0.10)];
}

.box_details {
    @apply flex justify-center flex-col
           w-xl h-164.75
           p-12;
}

.login_details {
    @apply flex justify-center items-center gap-8 
           w-119.5 h-12.5 pb-4 mb-8;
}

.sign_in a {
    @apply font-eb-garamond
    font-medium
    text-[22px]
    tracking-[0.55px]
    text-primary-green;
}

.create_acc a {
    @apply font-eb-garamond
    font-normal
    text-[22px]
    tracking-[0.55px]
    text-price;
}

.google_login p {
    @apply pt-6 flex justify-center mb-8
           font-hanken-grotesk
           font-normal
           text-[11px]
           tracking-[1.1px]
           text-price;
}

.user_email_det {
    @apply flex flex-col gap-2 mb-6;
}

.user_password_det {
    @apply flex flex-col gap-2 mb-6;
}

.remember_det {
    @apply flex gap-2 mb-6
           text-price
           font-hanken-grotesk
           tracking-[0.36px]
           font-medium
           text-[12px];
}

.user_info_form label {
    @apply font-hanken-grotesk;
}

.sign_in_button button {
    @apply bg-primary-green
           w-119.5 h-12
           text-white
           rounded-sm
           font-hanken-grotesk
           tracking-[0.8px]
           mb-8;
}

.protect p {
    @apply font-hanken-grotesk
    text-[11px]
    tracking-[0.28px]
    text-price;
}
/*End of Account Page*/