*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*start of header section*/
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header .row {
    justify-content: space-between; 
    background-color: #041e42;   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header .logo {
    padding: 24px;
}

.list ul {
   display: flex;
   flex-wrap: wrap; 
   gap: 40px;
   font-family: Oswald;
   font-size: 16px;
}

.list a {
    color: #7287B0;
}

 .highlight a {
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-color: #BB0027;
    text-underline-offset: 8px;   
}

.icons li {
   display: flex;
   flex-wrap: wrap; 
   gap: 16px;
   padding: 4px 11px;
}
/*end of header section*/

/*start of headlines (featured Stories)*/
.headlines .row {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 20px;
   background-color: #FFFFFF;
   margin-top: 40px;
}

.headlines .headline {
    width: calc((100% - 60px)/4);
}

.headline img {
    width: 100%;
}

.headlines .container {
    background-color: #F6F3F2;
    padding: 24px 40px;
}

.headlines h2 {
    margin-bottom: 40px;
    font-family: Oswald;
    font-size: 40px;
    color: #1C1B1B;
    font-weight: normal;
}

.headline h3 {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    color: #1C1B1B;
    font-family: Oswald;
    font-size: 24px;
    text-align: left;
    font-weight: normal;   
}

.headline p {
    font-family: Montserrat;
    font-size: 16px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
/*end of headlines section*/



